.movies {
    padding-top: 20px;
}

table {
    border-collapse: collapse;
}  

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
} 
.marg{
    border:20px solid black;
    padding-inline:0px;
    margin:70px;
    margin-left:100px;
    margin-right:100px;
    margin-top: auto;
    margin-bottom: 100px;
    background-color: lightcyan;

    padding-left:180px;
    padding-right:180px;
}
