.movie-info{
    background-color: rgb(185, 179, 179);
    width:50%;
    margin:0 auto;
    overflow-y: auto; /*overflow-> allows for infinite scroll*/
    height:50;
    min-width: height 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
form {
    display: flex;
    justify-content: center;
    align-items: center;
}


#queryInput { /*adding borders and fixing the search bar*/
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
   /* border-radius: 10px;*/
    padding: 10px;
    margin: 10px; 
    position: relative;
    display: flex;
}
.search-button{
    background-color: antiquewhite;
    border: 100;
    float: left;
    color: black;
    padding: 15px 32px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    line-height: 0px;
    font-size: 16px;  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}