.movie-info{
    background-color: rgb(185, 179, 179);
    width:80%;
    margin:0 auto;
    overflow-y: auto; /*overflow-> allows for infinite scroll*/
    height:50;
    min-width: height 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{

}